fastapi
uvicorn
langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-text-splitters
chromadb
rank_bm25
sentence-transformers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
pydantic
pydantic-settings
python-dotenv
sqlalchemy
beautifulsoup4
